body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

.info.legend {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 8px;
  border-radius: 5px;
  box-shadow: 0 0 5px #aaa;
  font-size: 12px;
  line-height: 18px;
  color: #333;
}
